/**
 * @file
 * Overall specifications for MBER Earth.
 */

html {
  height: 100%;
}
body {
  min-height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.05em;
}
a,
a.link {
  text-decoration: none;
  /*border-bottom: 1px dotted;*/

  /*background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #0095ff), color-stop(1, #2eb017) );*/
  /*background-image: gradient( linear, left top, right top, color-stop(0, #0095ff), color-stop(1, #2eb017) );*/
  /*color: transparent;*/

  /*color: #0095ff;*/
  color: #3f6eb3;
  /*-webkit-background-clip: text;*/
  /*background-clip: text;*/
  text-shadow: none;
  font-weight: bold;
  transition: all 0.8s ease;

}
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  /*border-bottom-style: solid;*/
}

a:hover {
  /*background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #2eb017), color-stop(1, #0095ff) );*/
  /*background-image: gradient( linear, left top, right top, color-stop(0, #2eb017), color-stop(1, #0095ff) );*/
  color: #0095ff;
  /*-webkit-background-clip: text;*/
  /*background-clip: text;*/
}

/*.link {*/
  /*font-family: Roboto Condensed, "Helvetica Neue", Helvetica, Arial, sans-serif;*/

/*}*/
h1 a,
h2 a {
  border-bottom: none;
}

/*h1 a:hover,*/
/*h2 a:hover {*/
   /*font-size: 1.143em;*/
 /*}*/

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */
h1,
.heading-a {
  margin: 1em 0 0.5em;
  font-weight: inherit;
  font-size: 1.357em;
  color: #000;
}
h2,
.heading-b {
  margin: 1em 0 0.5em;
  font-weight: inherit;
  font-size: 1.143em;
}
h3,
.heading-c {
  margin: 1em 0 0.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1.092em;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1em;
  line-height: 1.092em;
  text-align: center;
}
h4,
.heading-d {
  margin: 1em 0 0.5em;
  font-weight: inherit;
  font-size: 1.05em;
}
h5,
.heading-e {
  margin: 1em 0 0.5em;
  font-weight: inherit;
  font-size: 0.889em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h6,
.heading-f {
  margin: 1em 0 0.5em;
  font-weight: inherit;
  font-size: 0.67em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
p {
  /*margin: 0 0 1.2em;*/
}
del {
  text-decoration: line-through;
}

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb; /* LTR */
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
[dir="rtl"] blockquote {
  border-left: none;
  border-right: 1px solid #bbb;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em; /* LTR */
  vertical-align: -0.4em;
}
[dir="rtl"] blockquote:before {
  content: "\201D";
  margin-left: 0.2em;
  margin-right: 0;
}
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
}
[dir="rtl"] blockquote:after {
  content: "\201C";
}
blockquote > p:first-child {
  display: inline;
}
.feed-icon {
  display: block;
  margin: 25px 0 0 0;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}
ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1em 0.25em 0;
}
