.image-link__image {
  position:relative;
  z-index: 200;
  padding: 0;
  margin: 1em;
  overflow: hidden;
}

.image-link__image:hover {
  background-color: #fffce4;
}

.image-link__image img {
  width: 100%;
  margin: 0;
  transition: all 0.5s ease-in-out;
}

.image-link__image:hover img {
  transform: scale(1.05);
}

.image-link__title {
  position: absolute;
  bottom: -1em;
  z-index: 820;
  padding: 1.6em 1em;
  width: 100%;
  color: #3f3838;
  background: #cecbc0;
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.image-link__image .field--type-image {
  margin: 0;
}
