/**
 * @file
 * Styles for menus in MBER Earth.
 */

/* This is needed to override ul.menu styles in menu.theme.css */
ul.menu {
  margin: 0;
  padding: 0 0 0.25em 1em;
}

/* This is needed to override [dir="rtl"] ul.menu styles in menu.theme.css */
[dir="rtl"] ul.menu {
  margin: 0;
}

ul.menu a.is-active {
  /*color: #2eb017;*/
  /*color: #eb9729;*/
  color: #3f6eb3;
  background: white;
}