.container__grid {
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 3em;
}

.grid__left {
  grid-column: 1;
  padding: 0 2em;
  text-align: center;
  border-right: solid 2px black;
}

.grid__right {
  grid-column: 2;
  align-self: center;
  padding: 0 2em 0 3em;
  /*border-left: solid 2px black;*/
  /*border-bottom: solid 2px black;*!*/
}

.learning-segment-title--model-triangle {
  color: green;
  margin: 1em 5%;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1.092em;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  padding: 1em;
  line-height: 1.092em;
  text-align: center;
}
