/* For small screens up to 800 px wide */

@media (max-width: 800px) {
  .container__grid {
    display: grid;
    /*grid-template-columns: 35% 65%;*/
    grid-template-rows: 30% 30% 40%;
    margin-bottom: 3em;
  }

  .grid__row--top {
    grid-row: 1;
    padding: 0 2em 0;
    padding-bottom: .5em;
  }

  .grid__left {
    grid-row: 2;
    padding: 1em 2em 0 0;
    text-align: center;
  }

  .grid__right {
    grid-row: 3;
    align-self: center;
    padding: 0 2em 2em 2em;
    /*border-left: solid 2px black;*/
    /*border-bottom: solid 2px black;*/
  }

  .learning-segment-title--model-triangle {
    color: green;
    margin: 1em 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 1.092em;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    padding: 1em;
    line-height: 1.092em;
    text-align: center;
  }

  .field--name-field-resources-segment {
    margin: 0 5%;
  }
}

/* For screens larger than 801 px wide */

@media (min-width: 801px) {
  .container__grid {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 30% 70%;
    margin-bottom: 3em;
  }

  .grid__row--top {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    padding: 0 5em 0;
    /*text-align: center;*/
    /*border-bottom: 2px solid #17649a;*/
    padding-bottom: .5em;
  }

  .grid__left {
    grid-row: 2;
    grid-column: 1;
    padding: 1em 0;
    text-align: center;
    /*border-right: solid 2px #0597ff;*/
    /*border-right: solid 2px #17649a;*/
    /*border-left: solid 2px #0597ff;*/
    padding-top: 1em 0;
  }

  .grid__right {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    padding: 2em 2em 0 4em;
    margin-right: 3em;
    /*border-right: solid 1px #0597ff;*/
    border-left: solid 2px #17649a;
    /*border-bottom: solid 2px black;*!*/
  }

  /*.grid__row--middle {*/
    /*grid-row: 2;*/
    /*grid-column-start: 1;*/
    /*grid-column-end: span 2;*/
    /*padding: 0 2em;*/
    /*!*border-top: 2px solid #0597ff;*!*/
  /*}*/

  .learning-segment-title--model-triangle {
    color: green;
    margin: 1em 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 1.092em;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    padding: 1em;
    line-height: 1.092em;
    text-align: center;
  }
}