.phenomenon--model-triangle {
  max-width: 50%;
  padding: 0 1em;
  margin: 0 5% 2em 0;
  float: right;
}

.change-text__upper {
  text-transform: uppercase;
}

.change-text__italics {
  font-style: italic;
}

.model-ideas--model-triangle {
  max-width: 70%;
  margin: 0 15% 3em 15%;
  padding: 0 1em;
  clear: both;
}

.overview--model-triangle {
  max-width: 90%;
  margin: 0 5% 3em 5%;
  padding: 0 1em;
}

.date-range--model-triangle {
  margin: 0 15% 2em 15%;
  padding: 0 1em;
  text-align: center;
  font-size: 1.5em;
  color: #17649A;
}

.download--model-triangle {
  margin: 0 25% 3em 25%;
  padding: 0 1em;
  text-align: center;
}

.estimated-time--model-triangle {
  font-size: 2em;
  color: #17649A;
  clear: both;
}

.student-work--model-triangle {
  width: 100%;
  float: left;
  position: relative;
  display: block;
}

.pqm-image--model-triangle {
  max-width: 35%;
  float: left;
  padding: 0 0 0 5%;
}

.model-move--model-triangle {
  width: 100%;
}

.model-move--model-triangle h3{
  margin-top: 0;
  border: none;
  padding: none;
}